

body {
    background-image: url('/js/JS-img/b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.chartBox{
    height: 100px;
    width:400px;
    background-color: white;
}

.logo-bar{
    background-color: black;
}

.logo{
    background-color: black;
}

.slogan{
    margin-top: 10px;
    margin-bottom: 2%;
    color: black;
    font-size: 50px;
    font-family: Roboto Slab;
    /* text-align: center; */
}

.chatAndHome{
    text-align: end;
    padding-right: 40px;
    font-size: 30px;
}

.chatAndChart-icon{
    color: #039285;
    margin-left: 20px;
}
.chatAndChart-text{
    color: black;
    /* margin-left: 20px; */
    /* margin-left: 650px; */
}

.chatAndChart-text:hover{
    transition: color 0.2s;
    color: #FCCC00;
}

.btn {
    width: 130px;
}

.hold-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar{
    margin-bottom: 40px;
}

