/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.container1 {
    width: 500px;
    margin: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f1f0e8;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.profile {
    width: 100%;
    background-color: #036055;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* align-items: center; */
    height: 75px; 
    padding: 0px 10px;
    position: relative;
}

.profile .coding {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 32px;
    margin-bottom: 15px;
    margin-right: 5px;
}

/* .profile .coded {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 15px;
    cursor: pointer;
} */

.profile h2 {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    color: #fff;
    font-size: 20px;
    /* margin-left: 10px; */
}

.profile span {
    color: #ccc;
    position: absolute;
    top: 42px;
    left: 100px;
    font-size: 14px;
}

.right .icon {
    display: inline-block;
    width: 25px;
    margin-left: 10px;
}

.profile .left {
    flex: 1;
}

.chat-box {
    flex: 1;
    padding-left: 20px;
    overflow-y: scroll;
}

.chat-r {
    display: flex;
}

.chat-r .sp {
    flex: 1;
}

/* .chat-1 {
    display: flex;
}

.chat-1 .sp {
    flex: 1;
} */

.char-box .mess {
    max-width: 300px;
    background-color: #F7FCF6;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
}

/* .char-box .mess p {
    word-break: break-all;
    font-size: 18px;
    margin: 2px;
} */

.chat-box .mess-r {
    background-color: #E2FFC7;
    /* float: right; */
}

/* .chat-box .check {
    float: right;
} */

.chat-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.chat-footer textarea {
    display: block;
    /* flex: 1; */
    width: 100%;
    border-radius: 60px;
    margin: 5px;
    margin-left: 0px;
    outline: none;
    font-size: 19px;
    padding-left: 70px;
    padding-right: 0px;
    border: 2px solid #ccc;
    color: #555;
}

#buttonTesting {
    display: flex;
    justify-content: center;
}