body {
    background-image: url('images/hk-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slogan{
    margin-top: 10%;
    margin-bottom: 2%;
        color: white;
        font-size: 50px;
        font-family: Roboto Slab;
        text-align: center;
}

.filter-wrap{
    margin-bottom: 10px;
}

.filter-box{
    display: flex;
    /* justify-content: space-between; */
    align-items: end;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.search-heading{
    background-color: black;
    color: #E0A800;
    width: 120px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 20px;
}

.search-heading-confirm{
    background-color: #212529;
    color: white;
    width: 150px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;
}

.search-btn{
    background-color: #212529;
    color: white;
}

.chatroom , .chart{
    background-color: #212529;
    color: white;
    width: 150px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;
}

.chatAndChart{
    color: white;
    font-weight: 800;
    font-size: 23px;
    text-align: end;
    padding-top: 40px;
    padding-right: 60px;
}

.chatAndChart-icon{
    color: #E0A800;
    margin-left: 20px;
}
.chatAndChart-text{
    color: white;
    margin-left: 20px;
}

.chatAndChart-text:hover{
    transition: color 0.2s;
    color: #FCCC00;
}


.latest-post{
    color: white;
    padding-left: 30px;
    margin-top: 30px;
    border-bottom: 3px gray solid;
}

.new-post-boxes{
    padding-top: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.new-post-box{
    color:white;
    margin-left: 5px;
    margin-right: 5px;
    border: gray solid 1px;
}

.new-post-heading{
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    /* line-height: 1;  */
   -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);  
    padding: 30px;
    border-bottom: gray solid 0.5px;
    position: relative;
    height: 100px;
}

.new-post-logo{
    position: absolute;
    height: 20%;
    top: 5px;
    left: 5px;
}

.new-post-contents{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); 
    height: 180px;

}
.new-post-content{
    padding: 2px 5px 2px 5px;
}




