body{
    background-color:#343A40;
}

.posting-summaries{
    overflow-y: scroll;
}

.posting-summary{
    background-color: white;
    padding: 25px 15px 25px 15px;
    min-height: 250px;
    margin-top: 20px;
    overflow-y: scroll;
}

.posting-detail{
    background-color: white;
    padding: 25px 15px 25px 15px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.posting-logo-holder{
    display: flex;
    justify-content: center;
    margin: 5px 5px 20px 5px;
}

.posting-logo{
    height: 30px;
}


.posting-holder{
    /* background-color: #343A40; */
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 10px;
}


.carousel-cards{
    background-image: url('images/ai-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    border: 0px;
    /* background-color: #EEEEEE; */
    background-image: url('images/ai-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 
 .card-spacer{
 
  padding: 5px 0px 5px 0px;
  margin: 5px 10px 5px 10px;
  max-height: 110px;
  /* max-width: 300px; */
 
  background-color: rgba(255, 255, 255, 0.3);
  
  /* line-height: 1;  */
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);  

 }
 
 .card-head{
    position: relative;
 }
 
 .head-content{
    text-align: center;
    padding-top: 13px;
    font-size: 12px;
 }
 
 .JDB-logo{
    position: absolute;
    padding-left: 18px;
    height: 10px;
    left: -8px;
    top: 1px;
 }
 
 .body-content{
    border-top: gray solid 0.5px;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 12px;
 }


 .filter-wrap{
    margin-bottom: 10px;
}

.filter-box{
    display: flex;
    /* justify-content: space-between; */
    align-items: end;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.to-hold{
    padding-bottom: 10px;
}
.chatAndChart{
    text-align: end;
    padding-right: 123px;
}

.chatAndChart-icon{
    color: #E0A800;
    margin-left: 20px;
}
.chatAndChart-text{
    color: white;
    /* margin-left: 20px; */
    /* margin-left: 650px; */
}

.chatAndChart-text:hover{
    transition: color 0.2s;
    color: #FCCC00;
}

.search-holder1{
    margin: 10px 25px 5px 25px;
}

.search-holder2{
    margin: 10px 25px 5px 25px;
    border-bottom: black solid 3px;
}

.search-heading{
    background-color: black;
    color: #E0A800;
    width: 120px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 20px;
}

.search-heading-confirm{
    background-color: #212529;
    color: white;
    width: 150px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;
}

.search-btn{
    background-color: #212529;
    color: white;
}


.control-bt{
    display: flex;
    justify-content: center;
}