.Login-Holder {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: white;
}

.Top-Nav {
  // text-align: center;
  width: 100vw;
  height: 10vh;
  border-bottom: 3px#074288 solid;
  display: flex;
  justify-content: space-between;

        .Top-Nav-left {

          width: 24vw;
          padding-left: 10px;
          display:flex;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 5px #7FC0AC solid;
          font-size: 150%;
          font-weight: 700;
        }

        .Top-Nav-middle {
            width: 24vw;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 5px #7FC0AC solid;
        }

        .Top-Nav-right {
          width: 60vw;
          padding-right: 15px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border-bottom: 5px #7FC0AC solid;

                  .Nav-search {
                    width: 50%;
                    height: 5vh;
                    border: solid 1px;
                    border-radius: 2px 2px;
                    margin-right: 20px;
                  }

                  .AskQ-logo {
                    height: 50px;
                    width: 150px;
                    background-color:  #159391;
                    font-size: 100%;
                    font-weight: 600;
                    color: white;
                    border: #0A487F solid 4px;
                    border-radius: 10px 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                  }
                  
                  .AskQ-logo:hover {
                    background-color:   #0A487F;
                    color:  yellow;
                    // color:  #159391;
                    border:  #159391 solid 4px;
                    box-shadow: 0 0 5px #0A487F;
                  }

                  .position-relative {
                    position: relative;

                    .position-absolute {
                      position:absolute;
                      top: 15px;
                      right: 15px;
                      background-color: #FFFFFF;
                      border: solid;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start;
                      align-items: center;
                    } 
                  }
        }

        .Tecky-logo {
          height: 70%;
          margin-left: 10px;
          margin-right: 10px;
        }

        .Nav-logo {
          height: 35%;
          margin-left: 10px;
          margin-right: 10px;
        }        
}

.Content-Holder {
  display: flex;
  height: 90vh;

        .Left-Nav {   
          width: 300px;
          border-right: 4px gainsboro solid;
          border-bottom: 2px gainsboro solid;
          padding: 15px 2% 20px 40px;
          

              .Left-Nav-Cat {
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                // padding-left: ;
                transition: color .2s;
                margin-top: 12px;
              }

              .Left-Nav-Cat:hover {
                  text-shadow: 0 0 1px black;
                  font-weight: bold;
              }

              .Left-Nav-Options {
                width: 100%;
                max-height: 40%;
                
                padding: 6px 0 20px 25px;
                display: flex;
                justify-content: start;
                flex-direction: column;
                overflow-y: scroll;
              }

              .optionCohort {
                color: #159391;
                text-decoration: underline;
                padding-bottom: 12px;
             
                font-size: 17px;
                
                font-weight: 800;
              }

              .option {
                padding-bottom: 12px;
                color: #0A487F;
                font-size: 17px;
                
                font-weight: 800;
              }

              .option:hover {
                text-shadow: 0 0 1px  #159391;
                color: #159391;
                text-decoration: underline ;
            }
        }                     
        
        .Questions-List {
          width: 80vw;
          border-bottom: 2px gainsboro solid;
          // padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          

                .Question-Cat {
                  border-bottom: 4px gainsboro solid;
                  height: 70px;
                  width: 100%;
                  display: flex;
                  align-items: center;
;
                  // flex-wrap: wrap;
                  // justify-content: space-between;
                  // padding: 2%;

                      .Checked-Display {
                        width: 8%;
                        // margin-right: 2%;
                        text-align: center;
                        padding: 60px;
                      }

                      .All-Cat-Buttons {
                          width: 82%;
                          display: flex;
                          text-align: center;
                          justify-content: space-between;
                          
                          padding-left: 50px;
                          padding-right: 20px;

                            .Question-Cat-Button {
                                border: 4px solid #0A487F;
                                // background-color: ;
                                color: #159391;
                                // font-size: 95%;
                                font-weight: bold;
                                // width: 13%;
                                // height: 30px;
                              }

                            // .Question-Cat-Button-2 {
                            //     background-color: #0A487F;
                            //     color: #159391;
                            //     font-size: 95%;
                            //     font-weight: bold;
                            //     width: 13%;
                            //     height: 30px;
                            //   }

                      }       
                }

                .Questions-Wrap {
                    height: 92%;
                    width:  100%;
                    overflow-y: scroll;

                      .Question-Display {
                        // border: solid 1px chartreuse;
                          height: 150px;
                          // width: 100%;
                          display: flex;
                          align-items: center;
                          color: black;
                          // margin-bottom: 10px;
                          // padding-top: 25px;
                          // padding-bottom: 25px;
                              

                              .Q-Status {
                                height: 150px;
                                width: 100px;
                                padding: 0 20px 0 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: start;

                                    .Q-Status-Info {
                                      // border: black solid 1px;
                                      width: 100%;
                                      text-align: center;
                                      font-size: 13px;
                                      font-weight: 600;
                                    }
                              }

                              .Features {
                                width: 8%;
                                height: 150px;
                                margin-left: 20px;
                                padding: 0px 20px 0px 0px;
                                display: flex;
                                justify-content: center;
                                // align-items: center;
                                flex-direction: column;
                                border-bottom: 2px gainsboro solid;

                                      .Feature-click {
                                        height: 70px;
                                        position: relative
                                      }

                                      .CheckBox {
                                        position: absolute;
                                        margin: 30px 20px 15px 26px;
                                      }
                                      
                                      .heartIcon {
                                        position: absolute;
                                        height: 25px;
                                        margin: 25px 20px 20px 20px;
                                      }

                                      .heartIcon:hover {
                                        height: 30px;
                                      }
                              }

                              .Each-Question {
                                  // border: black 1px solid;
                                  width: 100%;
                                  height: 100%;
                                  margin-right: 20px;
                                  // padding: 50px 30px 20px 5px;
                                  text-align: center;
                                  border-bottom: 2px gainsboro solid;


                                    .Question-Topic {
                                      // border: black 1px solid;
                                        height: 50px;
                                        // width: 100%;
                                        font-size: 30px;
                                        text-align: left;
                                        align-self: center;
                                        padding: 15px 10px 0px 5px;
                                    }
      
                                    .Question-Topic:hover {
                                        text-decoration: underline;
                                        color: red;
                                    }
            
                                    .Question-Content {
                                      // border: red 1px solid;
                                        height: 40px;
                                        // width: 98%;
                                        display: flex;
                                        flex-direction: column;
                                        // justify-content: space-between;
                                        align-items: flex-start;
                                        font-size: 14px;
                                        font-weight: 500;
                                        padding: 20px 10px 20px 45px;

                                        .tag {
                                          border: solid 2px #7FC0AC;
                                          padding: 3px;
                                          width: 60px;
                                          margin-right: 50px;
                                        }

                                        .Post-Date {
                                          margin-top: 20px;
                                        }
                                    }
                              }

                      }
                }
        }
}


.TheQuestion {
  width: 80%;
          border-bottom: 2px gainsboro solid;
          padding: 10px;
          
                .Question {
                    font-size: 50px;
                    font-weight: 700;
                    padding: 10px;
                  }

                .Content-Box {
                  border: 2px gainsboro solid;
                  height: 15%;
                  width: 98%;
                  margin-bottom: 10px;
                  padding: 10px;
                }
}


.AskQHolder {
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    transform:translate(0%, -10%);  
    display: flex;
    justify-content: center;
    align-items: center;
    
        .AskQuestionHeader {
            border-bottom: 2px gainsboro solid;
        }

        .AskQuestion {
            height: 100%;
            width: 70%;
            background-color: #1E6197;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(5, 5, 5, 0.733);
            padding: 50px;
            display: flex;
            flex-direction: column;;
            color: white;

              .QuestionTopic {
                  width: 100%;
                  height: 10%;
                  border: black 2px solid;
                  padding: 5px;
              }

              .QuestionTag {
                width: 100%;
                height: 10%;
                border: black 2px solid;
                padding: 5px;
            }
              
              .QuestionDetails {
                  width: 100%;
                  height: 50%;
                  border: black 2px solid;
                  padding: 5px;
              }

              .UploadButton {
                  height: 35px;
                  width: 80px;
                  margin-left: 20px;
              }
              
              .CloseButton {
                  border: black 2px solid;
                  height: 30px;
                  width: 30px;
                  position: absolute;
                  align-self: flex-end;
              }

              .CloseButton:hover {
                  background-color: #159391;
                  color: white;
                  font-weight: 800;
                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
              }
              
              .SubmitButton {
                  border: black 2px solid;
                  height: 40px;
                  width: 80px;
                  margin-left: 90%;
              }

              .SubmitButton:hover {
                  background-color: #159391;
                  color: white;
                  font-weight: 800;
                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
              }

              .UserRecordButton {
                  border: black 2px solid;
                  height: 30px;
                  width: 100px;
              }

              .UserRecordButton:hover {
                  background-color: #159391;
                  color: white;
                  font-weight: 800;
                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
              }

              .Replies-List {
                  width: 100%;
                  border-bottom: 2px gainsboro solid;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  max-height: 35vh;
                      .Replies-Wrap {
                        height: 92%;
                        width:  100%;
                        overflow-y: scroll;
                            .Reply-Display {
                              border: solid lightgreen 2px;
                              border-radius: 10px;
                              background-color: white;
                              color: black;
                              margin: 5px 10px 20px 0px;
                              width: 98%;
                              min-height: 100px;
                                  .Reply-Topic {
                                    text-align: end;
                                    background-color: lightgreen;
                                  }
                                  .Reply-Content {
                                    .reply-img {
                                      max-width: 80%;
                                    }
                                  }
                            }
                      }
              }
              .TheQuestionContent{
                border: solid;
                background-color: white;
                color: black;
                margin-bottom: 10px;
                  .Details{
                    border-radius: 10px;
                    background-color: yellow;
                    margin: 0px 0px 5px 0px;
                    display: flex;
                    justify-content: space-between;
                  }
              }
              .Feature-click{
                display: flex;
                justify-content: flex-end;
                  img{
                    border: solid;
                    border-radius: 10px;
                    height: 25px;
                    background-color: white;
                  }
              }

              // Carl rte
              .RichTextEditor__root___2QXK{
                border: black 2px solid!important;
              }
              // Carl rte
          }
}



.invisible {
visibility: hidden;
display: none;
}

  
// Carl Login&CreateAC Form
.item-area {
  margin-top: 100px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form div {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.Toggle-Login {
  cursor: pointer;
  text-decoration: underline;
}
// Carl Login&CreateAC Form

// Carl
.settingButton {
  cursor: pointer;
}

// div.position-absolute {
//   position:absolute;
//   top: 70px;
//   bottom: 500px;
//   right: 10px;
//   left: 1400px;
//   background-color: #FFFFFF;
//   border: solid;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
// }
// Carl

// Carl
.checkbox-display {
  display: flex;
  align-items: center;
 
}

.Left-Nav-Button {
  display: flex;
  flex-direction: column;
  align-items: center;

}
      .UserPage-Button {
        border: black 2px solid;
        width: 150%;
        height: 3rem
      }
  
      .UserPage-Button:hover {
        background-color: #159391;
        color: white;
        font-weight: 800;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }

.Left-Nav-Button-Margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
}
// Carl

// Carl profilePage
.Profile-Header {
  border-bottom: 2px gainsboro solid;
  padding: 10px 0 10px 0;
  margin: 10px 300px 10px 300px;
  
}

.Details-Wrapper {
  border-bottom: 2px gainsboro solid;
  margin: 10px 300px 10px 300px;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Icon-Bubble{
  background-color: #FFFFFF;
  padding:5px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: #000000;
  object-fit: fill;  
  margin: 10px 10px;
}

.Slogan-Box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slogon-Form {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  // background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  // transition: all 0.3s;
  box-shadow: 0 0 3px #000000;
}

.Info-Wrapper {
  display: flex;
  justify-content: baseline;
  margin-bottom: 20px;
}
.Info-Detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-right: 200px;
}
.Info-Form {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  width: 140%;
  display: block;
  box-shadow: 0 0 3px #000000;
}

.Button-Wrapper {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width:900px) {
  .Slogon-Form {
    display: none;
  }

  .Info-Wrapper {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
  }

  .Info-Form {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    width: 100%;
    display: block;
    box-shadow: 0 0 3px #000000;
  }
}

// Carl profilePage
.AskQ-logo {
  height: 50%;
  background-color:  #159391;
  font-size: large;
  font-weight: 600;
  color: white;
  border: #0A487F solid 4px;
  border-radius: 10px 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.AskQ-logo:hover {
  background-color:   #0A487F;
  color:  yellow;
  // color:  #159391;
  border:  #159391 solid 4px;
  box-shadow: 0 0 5px #0A487F;
}

// Carl userRecordPage
.item-navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Each-UserPage-Question {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px gainsboro solid;
  padding: 10px 0 10px 0;
  margin: 10px 325px 10px 325px;
}

.Each-UserPage-Question-Button {
  padding-right: 10rem;

}

.Color-Hover-Change:hover {
  background-color: #e9f3fc;
}

.UserPage-HomePage {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 10px 0;
  margin: 10px 325px 10px 325px;
}
.UserPage-HomePage-Button {
  height: 20px;
}
.UserPage-HomePage-Button:hover {
  background-color:   #0A487F;
  color:  yellow;
  border:  #159391 solid 4px;
  box-shadow: 0 0 5px #0A487F;
}
// Carl userRecordPage
.Welcome-User {
  text-align: center;
}